<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Asignación de Rutas</title>
  </head>

  <body>
    <h1>Introduzca flota</h1>
        <h1>Vehiculos</h1>

        <h1>Conductores</h1>
    <h1>Introduzca rutas del día</h1>
        <input type="text" name="fname">
        <select>
            <option>Opcion Prueba1</option>
            <option>Opcion Prueba2</option>
            <option>Opcion Prueba3</option>
            <option>Opcion Prueba4</option>
        </select>
        <input type="text" name="fname">
        <input type="text" name="fname">
    <a href="/routes/assign">LINK</a>
  </body>
</html>
